@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Noto Sans TC";
    color: #666666;
    overflow-x: hidden;
}
.booking-summary{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.booking-summary-container{
  width: 1000px;
}
.booking-info-greeting{
  font-size: 19px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  margin-bottom: 15px;
}
.booking-info-box{
  display: flex;
  width: 1000px;
  margin:20px 10px
}
.attraction-img img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.btn-delete{
  width: 30px;
  height: 30px;
  position: relative;
  left: 70%;
  cursor: pointer;
}
.booking-info-text{
  width: 200px;
  margin-left: 20px;
}
.booking-attraction-name{
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #448899;
  margin-top: 10px;
  margin-bottom: 30px;
}
.booking-date, .booking-time, .booking-fee, .booking-attraction-address{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin-bottom: 20px;
}
hr{
  width: 1200px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 0px;
  margin: auto;
}
.contact-info, .credit-card-info{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-info-container, .credit-card-info-container{
  width: 1000px;
  margin: 10px 10px;
}
.contact-info-title, .credit-card-info-title{
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-bottom: 20px;
}
.contact-name{
  text-align: left;
  margin-bottom: 20px;
}
.contact-info-container input, .credit-card-info-container input{
  width: 200px;
  padding: 7px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
.contact-info-container p{
  font-weight: bold;
}
.btn-confirm-div{
  right: 0;
}
.btn-start-booking{
  width: 154px;
  height: 36px;
  background-color: #448899;
  border-radius: 5px;
  color: white;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  border: 0px;
  margin-top: 25px;
  margin-bottom: 40px;
  cursor: pointer;  
}
.credit-card-info-box{
  display: flex;
  vertical-align: middle;
}
.credit-card-info-box p{
  height: 30px;
  vertical-align: middle;
  margin-top: 12px;
}
.booking-summary-container{
  width: 1000px;
  margin: 20px 10px;
}
.sum-of-price{
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: right;
}
.btn-confirm-div{
  float: right;
}
.booking-info-delete-container{
  width: 1000px;
  display: block;
  height: 100px;
  margin: 20px auto;
}
.booking-info-greeting-delete{
  font-size: 19px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  margin-bottom: 20px;
}
.booking-info-box-delete{
  display: flex;
}

.tpfield {
  height: 40px;
  width: 200px;
  border: 1px solid #CCCCCC;
  margin: 5px 0;
  padding: 7px;
  border-radius: 5px;
}

@media (min-width: 601px) and (max-width: 1200px) {
  /*螢幕寬度小於600px，套用這個區塊css*/
  .booking-summary-container{
    width: 600px;
  }
  .contact-info-container, .credit-card-info-container{
    width: 600px;
    margin: 10px 10px;
  }
  .booking-summary-container{
    width: 600px;
    margin: 20px 10px;
  }
  .booking-info-box{
    display: flex;
    width: 600px;
    margin:20px 10px
  }
  .booking-info-text{
    margin-left: 0px;
  }
  .booking-info-greeting-delete, .booking-info-box-delete{
    margin-left: 30px;
  }
  .booking-info-delete-container{
    width: 600px;
  }
  .attraction-img img{
    width: 340px;
    height: 256px;
  }
  .btn-delete{
    position: relative;
    left: 38%;
  }
  hr{
    width: 600px;
  }
}
  
@media (min-width: 361px) and (max-width: 600px) {
  body{
      overflow-x: hidden;
  }
  .booking-summary-container{
    width: 360px;
  }
  .booking-info-box{
    width: 360px;
    display: block;
  }
  .booking-info-greeting-delete, .booking-info-box-delete{
    margin-top: 10px;
    margin-left: 20px;
  }
  .booking-info-delete-container{
    width: 360px;
  }
  .contact-info-container, .credit-card-info-container{
    width: 360px;
    margin: 10px 10px;
  }
  .booking-summary-container{
    width: 360px;
    margin: 20px 10px;
  }
  .attraction-img img{
    width: 340px;
    height: 256px;
  }
  .booking-info-text{
    width: 330px;
    margin-left: 10px;
  }
  .booking-attraction-name,.booking-date, .booking-time, .booking-fee, .booking-attraction-address{
    /* width: 330px; */
    margin-bottom: 20px;
  }
  .btn-delete{
    position: relative;
    left: 85%;
    transform: translate(-0, 240px);
  }
  hr{
    width: 360px;
  }
}